
@{
    ViewBag.Title = "Authentication";
}

<h4>You need to sign in or create an Account!</h4>
<br />
<p><a class="btn btn-default" href="@Url.Action("Login", "Account")">Sign in &raquo;</a></p>

<br />

<p><a class="btn btn-default" href="@Url.Action("Register", "Account")">Create Account &raquo;</a></p>
