@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Swap your room</h1>
    <p class="lead">WannaSwap is a ASP.NET web application for posting room exchange adverts in the Dublin area!</p>
    <p><a href="" class="btn btn-primary btn-lg">Let's Swap&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started with WannaSwap</h2>
        <p>
            This web app looks to use the special housing market in Dublin to create a room swapping platform.
            <br />more to come...
        </p>
        <p><a class="btn btn-default" href="">About &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acct creation etc</h2>
        <p>Dublin has many active people who come and go. The houseing market is saturated and things can be hard if you are looking to find accomodation. <br /> Things can be even harder if you're already renting, but want to try somewhere new. WannaSwap is here to help! </p>
        <p><a class="btn btn-default" href="">Dublin &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Yan's project</h2>
        <p>This web app is built on ASP.NET using Visual Studio 2013. The back-end contains an SQL database and Azure storage blobs</p>
        <p>For local development and testing, the web app runs on the Azure SDK using the compute and storage emulators. <br /> For production, all will be published to Microsoft's Azure Platform as a Service (PaaS)</p>
        <p><a class="btn btn-default" href="">Yan &raquo;</a></p>
    </div>
</div>